# Node.js dependencies
node_modules/
npm-debug.log
yarn.lock
package-lock.json

# Vercel build output
.vercel
.output

# Logs
logs/
*.log
debug.log
error.log

# Environment variables
.env
.env.local
.env.development
.env.production
.env.test

# OS-specific files
.DS_Store
Thumbs.db
